Working with csv,json,sql datasets

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Pre-processing of data

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/Colabnotebooks/drugstest.csv')

The read_csv() function of pandas not only reads the comma seperated value(csv) file but also can read other type of files like .tsv(tab seperated values) by specifying the sep parameter to '\t' which indicates that the columns in the file are seperated by a tab.

You can also read or fetch the data directly from the website or the URL's by importing requests module and then after pulling the requested file from the URL you can use the read_csv() file.

template code from the google 

import requests
from io import StringIO

url = "MENTION THE URL"

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

In [ ]:
df

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,163740,Mirtazapine,Depression,"""I&#039;ve tried a few antidepressants over th...",10,28-Feb-12,22
1,206473,Mesalamine,"Crohn's Disease, Maintenance","""My son has Crohn&#039;s disease and has done ...",8,17-May-09,17
2,159672,Bactrim,Urinary Tract Infection,"""Quick reduction of symptoms""",9,29-Sep-17,3
3,39293,Contrave,Weight Loss,"""Contrave combines drugs that were used for al...",9,5-Mar-17,35
4,97768,Cyclafem 1 / 35,Birth Control,"""I have been on this birth control for one cyc...",9,22-Oct-15,4
...,...,...,...,...,...,...,...
53761,159999,Tamoxifen,"Breast Cancer, Prevention","""I have taken Tamoxifen for 5 years. Side effe...",10,13-Sep-14,43
53762,140714,Escitalopram,Anxiety,"""I&#039;ve been taking Lexapro (escitaploprgra...",9,8-Oct-16,11
53763,130945,Levonorgestrel,Birth Control,"""I&#039;m married, 34 years old and I have no ...",8,15-Nov-10,7
53764,47656,Tapentadol,Pain,"""I was prescribed Nucynta for severe neck/shou...",1,28-Nov-11,20
53765,113712,Arthrotec,Sciatica,"""It works!!!""",9,13-Sep-09,46

As I can see that the column has the column names but what if we don't have the appropriate column names then we can just use another parameter of read_csv() function i.e, names(third parameter) and mention the list of column names that you want to use for the table columns.

If not used then the first row of the table is automatically selected as a column name which should not happen at any cost.

Also some times the column names or headers are considered as a row at that time we can use header parameter and make the first column as a header.

not only that there is another parameter that helps to set an index column from multiple unique columns to reduce the complexity that is  **index_col** 


There are more parameter for read_csv like use_cols(specify the number of columns to use), squeeze(to reduce or use only one specific column), nrows(to skip the rows or use the rows as required), encoding(To set the encoding type), error_bad_lines(to skip the bad lines.), dtypes(to set the data types of the specific columns), parse_dates(to handle dates), converters, chunksize(to set the size of the chunk)

In [ ]:
df.isnull()

       uniqueID  drugName  condition  review  rating   date  usefulCount
0         False     False      False   False   False  False        False
1         False     False      False   False   False  False        False
2         False     False      False   False   False  False        False
3         False     False      False   False   False  False        False
4         False     False      False   False   False  False        False
...         ...       ...        ...     ...     ...    ...          ...
53761     False     False      False   False   False  False        False
53762     False     False      False   False   False  False        False
53763     False     False      False   False   False  False        False
53764     False     False      False   False   False  False        False
53765     False     False      False   False   False  False        False

[53766 rows x 7 columns]

In [ ]:
test_data = df.where((pd.notnull(df)),'')

In [ ]:
test_data.head(10)

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,163740,Mirtazapine,Depression,"""I&#039;ve tried a few antidepressants over th...",10,28-Feb-12,22
1,206473,Mesalamine,"Crohn's Disease, Maintenance","""My son has Crohn&#039;s disease and has done ...",8,17-May-09,17
2,159672,Bactrim,Urinary Tract Infection,"""Quick reduction of symptoms""",9,29-Sep-17,3
3,39293,Contrave,Weight Loss,"""Contrave combines drugs that were used for al...",9,5-Mar-17,35
4,97768,Cyclafem 1 / 35,Birth Control,"""I have been on this birth control for one cyc...",9,22-Oct-15,4
5,208087,Zyclara,Keratosis,"""4 days in on first 2 weeks. Using on arms an...",4,3-Jul-14,13
6,215892,Copper,Birth Control,"""I&#039;ve had the copper coil for about 3 mon...",6,6-Jun-16,1
7,169852,Amitriptyline,Migraine Prevention,"""This has been great for me. I&#039;ve been on...",9,21-Apr-09,32
8,23295,Methadone,Opiate Withdrawal,"""Ive been on Methadone for over ten years and ...",7,18-Oct-16,21
9,71428,Levora,Birth Control,"""I was on this pill for almost two years. It d...",2,16-Apr-11,3

In [ ]:
test_data.shape

(53766, 7)

JSON and SQL

In [ ]:
dataf = pd.read_json('/content/drive/MyDrive/Colabnotebooks/train.json')
dataf

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

Even read_json also has lot of similar kind of parameters to help load any type of json file with ease some of the parameters that are exclusive to read_json are compresiion,precise_float,engine etc.

In [ ]:
d=pd.read_json("https://openexchangerates.org/api/historical/:date.json")

Fetching the data from an API

In [3]:
import pandas as pd
import requests

The api method of data fetching is a good option but there is an issue, that is to fetch data every time it should hit the url which is time taking(consuming) process.

In [ ]:
response = requests.get('https://api.weatherstack.com/historical%20?%20access_key%20=%20b32d0a11d8e84ce3813f5125707984be&%20query%20=%20New%20York%20&%20historical_date%20=%202015-21-01')

In [2]:
pd.DataFrame(response.json()['city'])

Fetching data from websites using webscraping